<!-- This template and others are the exact same as before, but now we are using a db instead of hardcoded data -->
<section id="about">
  <img src="./assets/images/Avatar.JPG" alt="Fanny Chen Avatar" id="avatar" />
  <section id="about-me">
      <h1>About</h1>
      <p>
          Born and raised in Brooklyn, NY. I graduated from The Cooper Union with a bachelors degree in Chemical Engineering. Post-graduation I worked as a Production Engineer at a medical device manufacturing company. Currently, I am a Physicist at the Memorial Sloan Kettering Cancer. I am part of the department of Medical Physics and assist with radiation therapy treatments. In addition to patient care work, I am also responsibile for a lot of the technical and digital projects at the office. I work closely with the IT department to create new applications and databases for the department. To further enhance my knowledge in the field, I am attending the Columbia Coding Bootcamp part-time. 
      </p>
  </section>
</section>