/* styling for the About page */

@keyframes slideInFromBottom {
    0% { transform: translateY(100%); }
    100% { transform: translateY(0); }
}
@keyframes slideInFromLeft {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}
@keyframes slideInFromRight {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0); }
}

.about {
    animation: 0.75s ease-in 0s 1 fadeIn;
    margin-left: var(--leftMargin);
    padding-left: var(--leftPad);
    padding-top: 4rem;
    padding-right: 5rem;
    padding-bottom: 3rem;
    color: var(--shade5);
    font-family: 'Quicksand', sans-serif;
}

.about .css-fkqrqw{
    border: none;
}

.about .css-1eam21a {
    color: var(--shade4);
}

#avatar {
    animation: 1s ease-in 0s 1 slideInFromLeft;
}

#background, #present {
    animation: 1s ease-in 0s 1 slideInFromBottom;
}

#funFacts {
    animation: 1s ease-in 0s 1 slideInFromRight;
}

/* styling for the mobile screen sizes */
@media screen and (max-width: 820px) { 
    .aboutHead {
        display: block;
        margin-bottom: 3vh;
        text-align: center;
    }
    .aboutHead img {
        width: 30vh;
        height: auto;
        margin-bottom: 1vh;
    }
    .aboutMain {
        padding: 0;
        text-align: left;
    }
    .aboutDetails {
        column-count: 1;
    }
}
