.mainCarousel .swiper {
  width: 100%;
}

.mainCarousel .swiper-slide {
  background-position: center;
  width: 70%;
  height: auto;
}

.mainCarousel .swiper-slide-next,
.swiper-slide-prev {
  pointer-events: none;
}

.mainCarousel .swiper-slide img {
  display: block;
  width: 100%;
}

.mainCarousel .swiper-slide img:hover {
  transition: all 150ms ease-in;
  border: 5px solid var(--shade4);
  border-radius: 30px;
  cursor: pointer;
}

.mainCarousel .swiper-button-next {
  color: var(--shade1);
  font-weight: bold;
  margin-right: 7vw;
}

.mainCarousel .swiper-button-prev {
  color: var(--shade1);
  font-weight: bold;
  margin-left: 7vw;
}

.mainCarousel .swiper-button-prev.swiper-button-disabled,
.mainCarousel .swiper-button-next.swiper-button-disabled {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}

.mainCarousel .swiper-pagination {
  padding-bottom: 3.5rem;
}

.mainCarousel .swiper-pagination-bullet {
  outline: 3px solid white;
}

.mainCarousel .swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--shade2));
}

#carouselCaption {
  text-align: center;
  font-size: 1.3vw;
  color: var(--shade5);
  padding-top: 1.5vh;
}

.carouselTop,
.carouselTop .swiper {
  width: 100%;
  max-height: 450px;
  max-width: 100%;
}

.carouselTop .swiper-slide {
  text-align: center;
  background: white;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselTop .swiper-slide img {
  display: block;
  width: auto;
  height: 450px;
  /* cursor: zoom-in; */
}

.carouselTop .swiper-button-prev {
  color: white;
  text-shadow: black 5px 0 5px;
}

.carouselTop .swiper-button-next {
  color: white;
  text-shadow: black -5px 0 5px;
}

.carouselBottom .swiper {
  width: auto;
  height: 300px;
}

.carouselBottom .swiper-slide {
  background-size: cover;
  background-position: center;
}

.carouselBottom {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.carouselBottom .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.carouselBottom .swiper-slide-thumb-active {
  opacity: 1;
}

.carouselBottom .swiper-slide img {
  display: block;
  width: auto;
  height: 100px;
  object-fit: cover;
}

.swiper-pagination-fraction {
  color: white;
  font-weight: bold;
  text-shadow: black 1px 0 10px;
}

#fullscreenImage {
  position: fixed;
  top: 3vh;
  left: 5vw;
  z-index: 100;
  width: auto;
  max-width: 90vw;
  height: auto;
  max-height: 95vh;
  cursor: zoom-out;
}

#videoPlayer {
  position: fixed;
  top: 3vh;
  left: 5vw;
  z-index: 100;
  width: 90vw;
  height: auto;
  cursor: zoom-out;
}