/* styling for the Contact page */
.contact {
    height: 100vh;
    padding: 5vh;
    text-align: center;
}


/* styling for the mobile screen sizes */
@media screen and (max-width: 820px) { 
    .contact h1 {
        width: 70vw;
        font-size: 3vh;
    }
    form {
        width: 70vw;
    }
    .contact input {
        width: 60vw;
    }
    .contact button {
        font-size: 2vh;
        width: 45vw;
    }
    
}