/* styling for the Footer */
.footer {
    background-color: var(--shade1);
    color: var(--shade4);
    bottom: 0;
    padding: 1vh 2vh 0vh 2vh;
    height: fit-content;
    text-align: center;
    white-space: pre-line;
}