/* styling for the Footer */
.footer {
    background-color: var(--shade4);
    bottom: 0;
    padding: 2vh;
    height: fit-content;
    text-align: center;
    margin: auto;
}

svg {
    width: 2.75vw;
    margin: 3vh;
}

a svg {
    width: 4vw;
    margin: 3vh;
}