/* styling for the header/navigation bar */
.navBar {
    height: fit-content;
    font-family: var(--font);
    color: var(--shade5);
    background-color: var(--shade1);
    border-bottom: 0.5vw solid var(--shade2);
    padding-top: 1.25vh;
    padding-bottom: 1.25vh;
}

/* link/icon color */
.navBar button {
    color: var(--shade5);
    font-size: 1.75vw;
    padding-top: 1vh;
}

.navBar a {
    color: rgb(11, 80, 164);
    font-size: 1.25vw;
    text-decoration: underline;
}

.navBar .css-7halv9 {
    color: var(--shade4);
    font-size: 2vw;
    margin-right: 1vw;
}