/* define color palette */
:root {
    --shade1: #ebb8b1;
    --shade2: #f4e8e1;
    --shade3: #c1c5cc;
    --shade4: #6a859d;
    --shade5: #020201;
    --trans:  #98755400;
}

.portfolio {
    color: var(--shade5);
    font-family: 'Quicksand', sans-serif;
    padding: 5vh;
    text-align: center;
}

.portfolio h1 {
    font-size: 3vw;
    font-weight: bolder;
    text-align: center;
    padding: 1vh;
    margin-bottom: 10vh;
    color: var(--shade2);
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

.portfolio img {
    width: 35vh;
    height: auto;
    margin-bottom: 1vh;
}

.gallery {
    column-count: 4;
    column-gap: 5vw;
    font-size: 1.15vw;
}

.project {
    page-break-inside: avoid;
    column-span: 1;
    margin-bottom: 5vh;
}

.gallery:nth-child(1) {
    column-span: 5;
    margin-bottom: 5vh;
}

.projectTitle {
    font-size: 1.5vw;
    color: var(--shade2);
    background-color: var(--shade4);
}

@media screen and (max-width: 820px) { 
    .portfolio {
        padding: 0;
        margin: auto;
    }
    
    .portfolio h1 {
        font-size: 5vw;
        padding: 0;
        margin-bottom: 2vh;
    }

    .portfolio img {
        width: 35vh;
        height: auto;
    }

    .projectTitle {
        font-size: 4vw;
    }

    .gallery {
        column-count: 1;
        padding-right: 7vw;
        font-size: 3vw;
    }
}