/* styling for the Portfolio page */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.portfolio {
    animation: 1.25s ease-in 0s 1 fadeIn;
    color: var(--shade5);
    font-family: 'Quicksand', sans-serif;
    padding: 5vh;
    margin-top: -8vh;
    white-space: pre-line;
}

#projectHeading {
    position: relative;
    left: -40vw;
    top: 40vh;
    font-size: 3vw;
    font-weight: bold;
    color: white;
    text-align: center;
    transform: rotate(-90deg);
}

.image-gallery {
    width: 70%;
    height: auto;
    margin: auto;
}

.image-gallery-slide img {
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: cover;
    overflow: hidden;
    object-position: center center;
}

.fullscreen .image-gallery-slide img {
    max-height: 100vh;
}

/* styling for the mobile screen sizes */
@media screen and (max-width: 820px) { 
    .portfolio {
        padding: 0;
        margin: auto;
    }
    
    .portfolio h1 {
        font-size: 5vw;
        padding: 0;
        margin-bottom: 2vh;
    }

    .portfolio img {
        width: 35vh;
        height: auto;
    }

    .projectTitle {
        font-size: 4vw;
    }

    .gallery {
        column-count: 1;
        padding-right: 7vw;
        font-size: 3vw;
    }

    .mainProject {
        border: 1vh solid var(--shade1);
        margin: 2vh;
        padding: 1vh;
        font-size: 3vw;
    }

    .mainProject img {
        margin-bottom: 1vh;
    }

    .mainProject .projectTitle {
        font-size: 4vw;
    }
}