/* styling for the Resume page */
@keyframes slideInFromBottom {
    0% { transform: translateY(40%); }
    100% { transform: translateY(0); }
}

.resume {
    margin-left: var(--leftMargin);
    padding-left: var(--leftPad);
    padding-top: 3rem;
    padding-bottom: 5rem;
    padding-right: 1rem;
}

.resume button {
    position: absolute;
    right: 8%;
    margin-top: -5rem;
    margin-bottom: 3vh;
    background: var(--trans);
    font-family: 'Quicksand', sans-serif;
    color: var(--shade4);
    font-size: 1.5vw;
    font-weight: 600;
}

.resume button:hover {
    background: var(--trans);
    color: var(--shade5);
}

.resume iframe {
    animation: 0.5s ease-in 0s 1 slideInFromBottom;
    width: 90%;
    height: 150vh;
    margin: auto;
}

.resume img {
    animation: 0.5s ease-in 0s 1 fadeIn;
    width: 80%;
    margin: auto;
    margin-top: 5rem;
}